@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,400&display=swap');

.card {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
}
.container {
  padding: 10px 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  gap: 10px;
  color:rgb(255, 255, 255);
  font-size: 16px;
}
h4{
  color:rgb(255, 255, 255);
  font-size: 18px;
}
h5{
  color: white;
}

